@model IEnumerable<MaturaToBzdura.Models.Chapter>;

@{
    var lastItem = Model.LastOrDefault();
}

<div class="dropdown-menu text-light bg-dark">
    @foreach (var item in Model)
    {
        <a class="dropdown-item text-light bg-dark" asp-controller="Chapters" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>

        @if (!item.Equals(lastItem))
        {
            <div class="dropdown-divider bg-dark"></div>
        }
    }
</div>

