@{
    ViewData["Title"] = "O mnie";
}

<section id="AboutMe" class="bg-dark">
    <div class="container py-5">

        <div class="justify-content-center align-items-center ">
            <h2 class="text-center text-white">
                O mnie
            </h2>
            <div class="col-md ">
                <div class="card-body text-center text-light bg-dark mb-3">
                    <img src="/pics/aboutMe1.jpg" id="about-me-img" class="rounded-circle mb-3 lg-img" alt="">
                    <h3 class="card-title text-light m-b">Wiktoria Solska</h3>
                    <p class="card-text text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, minima. Consequuntur veritatis aperiam est ipsum.</p>
                    <a href="https://www.linkedin.com/in/wiktoria-solska-97b289272/" target="_blank"><i class="bi bi-linkedin text-light"></i></a>
                    |
                    <a href="#"><i class="bi bi-instagram text-light"></i></a>
                    |
                    <a href="#"><i class="bi bi-facebook text-light"></i></a>
                </div>
            </div>
            <div>
                <ul class="list-group  lead">
                    <li class="list-group-item list-group-item-action list-group-item-dark">
                        <span class="fw-bold">Lokalizacja: </span> Wrocław
                    </li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">
                        <span class="fw-bold">Kontakt mailowy:  </span>wiksolska@gmail.com
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

<script>

    window.addEventListener('resize', function () {

        var screenWidth = window.innerWidth;

        if (screenWidth <= 500) {
            var imgToResize = document.getElementById('about-me-img');
            imgToResize.classList.remove("lg-img");
            imgToResize.classList.add("sm-img");
            
        } else {

            var imgToResize = document.getElementById('about-me-img');
            imgToResize.classList.remove("sm-img");
            imgToResize.classList.add("lg-img");
        }
    });

    window.addEventListener('load', function () {

        window.dispatchEvent(new Event('resize'));
    });

</script>
