
 <section id="AboutMe" class="bg-dark">
      <div class="container py-5">
            
          <div class="justify-content-center align-items-center ">
              <h2 class="text-center text-white">
                  o mnie
              </h2>
              <div class="col-md ">
                  <div class="card-body text-center text-light bg-dark mb-3">
                      <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3" alt="">
                      <h3 class="card-title text-light m-b">wiktoria solska</h3>
                      <p class="card-text text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, minima. Consequuntur veritatis aperiam est ipsum.</p>
                      <a href="#"><i class="bi bi-facebook text-light"></i></a>
                      |
                      <a href="#"><i class="bi bi-instagram text-light"></i></a>
                      |
                      <a href="#"><i class="bi bi-linkedin text-light"></i></a>
                  </div>
              </div>
              <div>
                  <ul class="list-group  lead">
                      <li class="list-group-item list-group-item-action list-group-item-dark">
                          <span class="fw-bold">main location: </span> wrocław
                      </li>
                      <li class="list-group-item list-group-item-action list-group-item-dark">
                          <span class="fw-bold">enrollement email:  </span>wikorki@email.com
                      </li>
                  </ul>
              </div>

          </div>
      </div>
 </section>
