<section style="margin-top:20vh;">
    <div class="rounded mt-5 py-3 container bg-secondary text-light">
        <h2 class="text-center py-4">konto nie zostało założone <i class="bi bi-person-fill-slash"></i></h2>

        <div class="row">
            <div class="col-8 offset-2 text-center">

                <h5>niestety!</h5>
                <p class="fs-3"> <u>wystąpił problem podczas rejestracji! </u></p>
                <h5>spróbuj ponownie</h5>
            </div>
            <div class="col-8 offset-2">
                <div class="form-group mt-3">
                    <a class="btn btn-outline-success" asp-controller="Account" asp-action="Register">Załóż konto</a>
                    <a class="btn btn-outline-danger  float-right" asp-controller="Home" asp-action="Index">Strona główna</a>
                </div>
            </div>
        </div>
    </div>
</section>