<section style="margin-top:20vh;">

    <div class="rounded mt-5 py-3 container bg-secondary text-light">
        <h2 class="text-center py-4">konto założone pomyślnie <i class="bi bi-check-lg"></i></h2>

        <div class="row">
            <div class="col-8 offset-2 text-center">

                <h5>dziękuję!</h5>
                <p class="fs-3"> <u>teraz możesz zalogować się i w pełni oddać Matematyce...</u></p>
            </div>
            <div class="col-8 offset-2">
                <div class="form-group mt-3">
                    <a class="btn btn-outline-success" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                    <a class="btn btn-outline-danger  float-right" asp-controller="Home" asp-action="Index">Strona główna</a>
                </div>
            </div>


        </div>
    </div>

</section>