@model IEnumerable<HSClass>

@{
    ViewData["Title"] = "Strona główna";
}


<section class="bg-secondary text-light p-5 text-center text-sm-start">
     <div class="container">
        <div class="d-sm-flex justify-content-between  align-items-center">
            <div class="mx-auto ml-sm-0">
                <h1 class="fs-1"><span class="text-dark">Witam </span>Cię na stronie</h1>
                <p class="lead my-4 fs-3">
                    Zachęcam do założenia konta, aby być ze mną w kontakcie<br> i wspólnie rozwiązywać matematyczne problemy
                </p>
                <h3 class="fs-3 mb-4">Wybierz, co Cię interesuje: </h3>
                <div class="btn-group-horizontal d-none d-md-block">
                    <a type="button" class="btn btn-dark btn-duzy " asp-controller="HSClasses" asp-action="Details" asp-route-id="1">Klasa 1</a>
                    <a type="button" class="btn btn-dark btn-duzy" asp-controller="HSClasses" asp-action="Details" asp-route-id="2">Klasa 2</a>
                    <a type="button" class="btn btn-dark btn-duzy" asp-controller="HSClasses" asp-action="Details" asp-route-id="3">Klasa 3</a>
                </div>
                <div class="btn-group-vertical d-block d-md-none mt-2">
                    <a type="button" class="btn btn-dark btn-duzy my-1 " asp-controller="HSClasses" asp-action="Details" asp-route-id="1">Klasa 1</a>
                    <a type="button" class="btn btn-dark btn-duzy my-1" asp-controller="HSClasses" asp-action="Details" asp-route-id="2">Klasa 2</a>
                    <a type="button" class="btn btn-dark btn-duzy my-1" asp-controller="HSClasses" asp-action="Details" asp-route-id="3">Klasa 3</a>
                </div>
            </div>
            <img src="~/pics/indexImage1.png" class="d-none d-lg-block" style="height:40vh; width:40vh; margin:auto;" />
        </div>
    </div>
</section>



<section class="bg-light py-4 px-3">
    <div class="container justify-content-around">
        <div class="d-md-flex mx-auto align-items-center h-50 counter">
            <div class="my-auto w-100 mb-4">
                <h5 class="mb-4  border-red timer-title"> <i class="bi bi-hourglass-split"></i> do matury pozostało...</h5>
            </div>

            <div class="input-group justify-content-center my-auto mx-auto">

                <div class="time-left mx-3 text-center mb-0">
                    <p id="d" class="font-weight-bold red-shadow py-2 px-3 rounded-bottom ">00</p>
                    <p class="font-weight-bold">dni</p>
                </div>
                <div class="time-left mx-3 text-center mb-0">
                    <p id="h" class="font-weight-bold red-shadow py-2 px-3 rounded-bottom ">00</p>
                    <p class="font-weight-bold">godziny</p>
                </div>

                <div class=" time-left mx-3 text-center mb-0">
                    <p id="m" class=" font-weight-bold red-shadow py-2 px-3 rounded-bottom ">00</p>
                    <p class="font-weight-bold">minuty</p>
                </div>
                <div class=" time-left mx-3 text-center mb-0">
                    <p id="s" class="font-weight-bold red-shadow py-2 px-3 rounded-bottom ">00</p>
                    <p class="font-weight-bold">sekundy</p>
                </div>

            </div>

        </div>
    </div>
</section>

<partial name="_AboutMe" />

<script>
    var countDownDate = new Date("May 08, 2024 09:00:00").getTime();
    var x = setInterval(function () {

        var now = new Date().getTime();
        var distance = countDownDate - now;

        var d = Math.floor(distance / (1000 * 60 * 60 * 24));
        var h = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var m = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var s = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById('d').innerHTML = d;
        document.getElementById('h').innerHTML = h;
        document.getElementById('m').innerHTML = m;
        document.getElementById('s').innerHTML = s;
    }, 1000);
</script>



