@model Exercise


@{
    ViewData["Title"] = "Rozwiąż Zadanie";
}
<section class="p-5 my-4">
    <div class="container bg-secondary text-light">
        <h2 class="text-center py-4">rozdziały <i class="bi bi-arrow-down-left-circle"></i></h2>
        <div class="accordion accordion-flush pb-5">

            <div class="accordion-item bg-secondary text-light border-bottom border-light py-3 mx-2">
                <a>
                    <p class=" m-0 link-title"></p>

                </a>
            </div>
            <img class="border-info " style="max-width: 400px;"  />
        </div>
    </div>
</section>



