@model Exercise


@{
    ViewData["Title"] = "Rozwiąż Zadanie";
}
<section class="p-4 mb-2">
    <div class="container bg-secondary text-light">
        <h2 class="text-center py-4">@Model.Name</h2>
        <div class="p-5 " >
            <img class="mx-auto d-block" style="" src="@Model.Content" alt="exercise-content" />
        </div>
    </div>
</section>



